export default {
	is_debug: false,
	bot: {
		bot_secret: "{Secret}",

		pastorders_channel_id: "{Secret}",
		bot_commands_channel_id: "{Secret}",
		france_id: "{Secret}",
		italy_id: "{Secret}",
		ah_id: "{Secret}",
		turk_id: "{Secret}",
		rus_id: "{Secret}",
		germ_id: "{Secret}",
		eng_id: "{Secret}",

		done_string: "done",
		undone_string: "undone",
	},
	logger: {
		logFile: "./log.txt",
	},
};